* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    background-color: #c3e5fa;
    min-height: 100vh;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 700px;
}

.container-header {
    height: 88px;
    margin-bottom: 5px;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
    border-radius: 18px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
}

.container-header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1DA1F2;
    text-align: center;
    line-height: 88px;
}

.container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-color: white;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
}

.made-by {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    color: #1ea2f1;
    font-weight: bold;
}

.todo-actions-container svg {
    display: flex;
    font-size: 17px !important;
    background: rgba(29, 161, 242, 0.17);
    padding: 7px;
    cursor: pointer;
    height: 1.95rem !important;
    overflow: auto !important;
}

.todo-actions-container svg:last-child {
    margin-left: 6px;
}